Microsoft.Flow/flows/242b14a6-c8d5-45de-b1ae-42fc776666d5/definition.json
{"name":"3501a233-0bd2-410f-ab1c-d6e4dfa6b667","id":"/providers/Microsoft.Flow/flows/3501a233-0bd2-410f-ab1c-d6e4dfa6b667","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Power Mail by Jatin Pandya(Gold Microsoft Learn Student Ambassador)","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"b90fdd6c-71b9-4a61-b002-b70c32795f52","type":"User","tenantId":"84c31ca0-ac3b-4eae-ad11-519d80233e6f"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-04-25T17:32:07.8401574Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"D500220481B375A5!124":"/Book.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonline","connectionName":"shared_excelonline","operationId":"GetItems"},"parameters":{"file":"D500220481B375A5!124","table":"{B082456F-4A19-4843-A7AC-1B2511E21D85}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Send_an_email_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Apply_to_each')?['Email']","emailMessage/Subject":"Microsoft AI Gaming - JECRC University","emailMessage/Body":"<p>Hi @{items('Apply_to_each')?['Name']},<br>\nThank you so much for being a part of Microsoft AI Gaming: JECRC University on 8th April 2021.<br>\n<br>\nWe hope you have had great learning and battle experience with our AI Gaming event by Microsoft Learn Student Ambassadors - Jatin Pandya(Gold, India region), Manish(Beta) &amp; Manya(Beta).<br>\n<br>\nPlease find your certificate in this drive folder <a href=\"https://drive.google.com/drive/folders/1qMaqNDeQ1Q6s0apYGSt1EeGJLuh9RxxJ?usp=sharing\">here</a> <br>\n<br>\nThank you,<br>\nTeam - Microsoft AI Gaming: JU</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"type":"Foreach"}}},"connectionReferences":{"shared_excelonline":{"connectionName":"shared-excelonline-ffdd4a80-73fb-430a-b403-ac70-85db00b9","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-42c07fe3-330f-4ff0-ae88-8864-4967b430","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}